:root {
    --bs-body-bg: var(--material-color-gray-300);
    --bs-primary: var(--material-color-yellow-800);
    --bs-primary-rgb: 249, 168, 37;
    --bs-dark: var(--material-color-gray-800);
    --bs-dark-rgb: 66, 66, 66;
    --bs-info: var(--material-color-blue-50);
}

/* Sugerir mudanças no tema Bootswatch Materia */

:root {
    --bs-primary-hover: var(--material-color-yellow-900);
}

a, .nav-link, .page-link {
    color: var(--bs-primary);
}

a:hover, .nav-link:focus, .nav-link:hover, .page-link:hover {
    color: var(--bs-primary-hover);
}

.alert-primary, .btn-primary {
    background-color: var(--bs-primary);
}

.alert-info {
    background: var(--bs-info);
}

.btn-primary:hover {
    background-color: var(--bs-primary-hover);
}

input[type=text]:focus {
    box-shadow: inset 0 -2px 0 var(--bs-primary) !important;
}

/* Fim Bootswatch Materia */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

article p, article li {
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    font-weight: 300;
}

.alert a {
    text-decoration: underline;
}

.btn:hover,
.navbar-brand:hover,
.nav-link:hover {
    text-decoration: none;
}

#main-container > .row {
    margin-top: 5.5rem !important;
}

.gap {
    margin-bottom: 30px;
}

.gap-small {
    margin-bottom: 15px;
}

.card > .card-header {
    background-color: var(--material-color-gray-100);
}

/* Header */

/* Fix for websites with a long name */
@media (max-width: 399px) {
    .navbar-brand {
        font-size: 20px;
    }
}
/* END Fix */

#navbar-search-button:hover {
    cursor: pointer;
}

/* Mobile Navbar */

#mobile-navbar {
    max-width: 80%;
}

#mobile-navbar .btn-close {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1045; /* same z-index as .offcanvas */
}

/* Collapsible Search */

#collapsible-search {
    height: 90px;
}

/* About and Author */

#about img,
#author img {
    max-width: min(75%, 150px);
}

@media (min-width: 991px) {
    #about img {
        max-width: 200px;
    }
}

/* Pagination */

.pagination .page-item > .page-link {
    border-radius: 15px;
}

.pagination .disabled.page-item {
    cursor: not-allowed;
}

/* Blog posts */

.blog-post-link,
.blog-post-link:focus,
.blog-post-link:hover {
    color: var(--bs-body-color);
}

@media (max-width: 767px) {
    .blog-post-share {
        max-width: 140px;
    }
}

/* Prevent problems with Google Custom Search Engine */
/* https://getbootstrap.com/docs/5.1/getting-started/introduction/#box-sizing */

.reset-box-sizing {
    box-sizing: content-box;
}

/* Embed Responsively */
/* https://embedresponsively.com */

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* AddThis */
/* https://stackoverflow.com/a/49396341/1657502 */

.addthis_follow_buttons a {
    float: none !important;
}

/* Code highlighting */

.highlight .lineno {
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    border-right: 1px solid var(--material-color-blue-gray-100);
    color: var(--material-color-blue-gray-100);
    padding-right: 10px;
}

.rouge-code {
    padding-left: 10px;
}

/* I hope someday we will get line highlights back */
.highlight .hll {
    background-color: var(--material-color-yellow-a100);
}

/* Archives */

h2.blog-archive-title a {
    color: var(--material-color-white);
}

/* Floating Action Button
Borrowed from:
https://pro.propeller.in/components/floating-button.php
*/
#fab {
    bottom: 1rem;
    position: fixed;
    right: 1rem;
    z-index: 1000;
}

/* Follow Buttons */

div.follow-buttons a {
    color: var(--material-color-white) !important;
    height: 50px;
    width: 50px;
}

div.follow-buttons .btn-facebook {
    background-color: var(--material-color-indigo-600);
}

div.follow-buttons .btn-twitter {
    background-color: var(--material-color-blue-500);
}

div.follow-buttons .btn-instagram {
    background-color: var(--material-color-pink-500);
}

div.follow-buttons .btn-linkedin {
    background-color: var(--material-color-blue-800);
}

div.follow-buttons .btn-youtube {
    background-color: var(--material-color-red-a700);
}

div.follow-buttons .btn-telegram {
    background-color: var(--material-color-light-blue-700);
}

div.follow-buttons .btn-gab {
    background-color: var(--material-color-green-a400);
}

div.follow-buttons .btn-gettr {
    background-color: var(--material-color-red-a700);
}

div.follow-buttons .btn-parler {
    background-color: var(--material-color-pink-900);
}

div.follow-buttons .btn-foursquare {
    background-color: var(--material-color-pink-a200);
}

div.follow-buttons .btn-github {
    background-color: var(--material-color-gray-900);
}

div.follow-buttons .btn-gitlab {
    background-color: var(--material-color-deep-orange-700);
}

div.follow-buttons .btn-rss {
    background-color: var(--material-color-orange-700);
}

/* Linktree */

#linktree-logo {
    max-width: 96px;
}

#linktree-brand {
    color: #fff;
    font-size: calc(1.275rem + .3vw); /* Same as h4 */
    font-weight: 500;
}

#linktree-latest-post {
    color: #fff;
}

/* Nota do Cabeça Livre e Patrocínio */

.alert-patrocinio {
    background-color: var(--material-color-yellow-100);
}

.alert-info a, .alert-patrocinio a {
    color: inherit !important;
}
